# Byte-compiled Python
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyPI
release.sh

# Testing
.pytest_cache
debug.sh
debug.py

# Visual Studio Code
.vscode

# Virtual Environment
venv/
env/
*.env

# IDE/Editor
.idea/
.vscode/

# ipynb
lib-test.ipynb

chest_xray/
examples/

.DS_Store
